
@import url(var.less);

.box-sizing{
    box-sizing:border-box;
}

.global-footer{
	background: none no-repeat scroll 0 0 #fff;
	color: #333;
	font-family: Arial,sans-serif;
	font-size: .786em;
	padding: 0 0 1em;
    ul{
        list-style: none;
        margin-bottom: 0;
    }
    ::-webkit-input-placeholder {
       color: @col-text;
    }

    :-moz-placeholder { /* Firefox 18- */
       color: @col-text;  
    }

    ::-moz-placeholder {  /* Firefox 19+ */
       color: @col-text;  
    }

    :-ms-input-placeholder {  
       color: @col-text;  
    }

    // Dropdpwn Navigation start here - Footer Section A
    .footer-drop-nav{
        border-bottom: 1px solid @col-border-prim;
        margin-bottom: 20px; 
        .dk_container{
            width: 100%;
            font-size: 13px;
            font:  0.813rem arumsans_ltbold, Arial, sans-serif;
        }
        .dk_toggle{
            text-transform: uppercase;
            width: 100%;
            box-sizing:border-box;
        }
        .dk_options_inner{
            border-bottom: 1px solid #f0f0f0;
            padding: 10px 0;
        }
        .dk_options{
         width: 100%;
        }
    }
    
    //Search Box starts here - Footer Section B
    .search-box{
        padding-bottom: 20px;
        margin-bottom: 20px;
        border-bottom: 1px solid @col-border-prim;
        .box-sizing;
        .search-query{
            width: 100%;
            font-size: 16px;
            font: 1rem vectipedebook, Arial, sans-serif;
            color: @col-text;
            box-shadow: none;
            border:1px solid @col-border-sec;
            border-right-color: @bg-prim;
            border-radius: 0 5px 5px 0;
            height: 58px;
            line-height: 58px;
            padding: 0 80px 0 20px;
            margin: 0 -58px 0 0;
            float: left;
            .box-sizing;
        }
        .btn-search{
            background-color: @bg-prim;
            height: 58px;
            width: 58px;
            color: #fff;
            border:none;
            border-radius: 0 5px 5px 0;
            font-size: 40px;
            font-size: 2.5rem;
            font-weight: bold;
            padding: 0;
            cursor: pointer;
        }
    }

    // Footer Guide Nav - Footer Section C
    .guide-nav-wrap{
        position: relative;
        border-bottom:1px solid @col-border-prim;
        margin-bottom: 20px;
        padding-bottom: 20px;

        .guide-nav{
            margin-top: -20px;
            .channel{
                background-color: @col-sec;
                border-radius: 0 4px 4px 0;
                margin-top: 20px;
                .title{
                    height: 60px;
                    color: @col-text;
                    text-transform: uppercase;
                    padding: 0 10px 0 0;
                    font-size: 15px;
                    font:  0.938rem arumsans_ltbold, Arial, sans-serif;
                    line-height: 62px;
                    cursor: pointer;
                    overflow: hidden;
                    [class^="icon-"], [class*=" icon-"] {
                        font-size: 32px;
                        font-size: 2.000rem;
                        margin-right: 15px;
                        background-color: @bg-sec;
                        color: #fff;
                        height: 60px;
                        width: 60px;
                        line-height: 60px;
                        text-align: center;
                        display: inline-block;
                        float: left;
                    }
                    .carrot{
                        float: right;
                        &:after{
                            content: '>';
                            font-family: 'Vectipede Bk', Arial, sans-serif;
                        }
                    }
                    .box-sizing;
                }
                .child{
                    display: none;
                    text-transform: lowercase;
                    background-color: @col-sec;
                    display: none;
                    .close{
                        display: none;
                    }
                    .content{
                        padding:0 8px 0 75px;
                        .box-sizing;
                        .subtitle{
                            display: none;
                        }

                        .links{
                            margin-bottom: 20px;
                            position: relative;
                            border-top:1px solid @col-border-sec;
                            &:before{
                                content: '';
                                border: 1px solid @col-border-sec;
                                border-radius: 6px;
                                width: 11px;
                                height: 11px;
                                position: absolute;
                                right: 0;
                                top: -7px;
                            }
                            a{
                                font-size: 13px;
                                font: 0.813rem 'Vectipede Bk', Arial, sans-serif;
                                color: @col-link;
                                margin-top: 20px;
                                display: inline-block;
                                text-transform: capitalize;
                            } 
                        }
                    }
                }
                &.open{
                    .title{
                        .carrot{

                               -ms-writing-mode: tb-lr;
                                -webkit-writing-mode: vertical-lr;
                                -moz-writing-mode: vertical-lr;
                                -ms-writing-mode: vertical-lr;
                                writing-mode: vertical-lr;
                                margin-top: 26px;
                                margin-right: -26px;
                        }
                    }
                    .child{
                    display: block; 
                   }
                }
            }
            /*>:last-child{
                margin-bottom: 0;
            }*/
        }
    }
    
    
    //Footer Section D
    .footer-link-nav{
        .logo{
            width:90px;
            margin:0px 15px 20px 0;
            float: left;
        }
        .footer-links{
            float: left;
            a{
                color: @col-link;
                display: block;
                font-weight: bold;
                font-size: 12px;
                font: 0.750rem arumsansextrabold, Arial, sans-serif;
                text-transform: uppercase;
                margin-bottom: 10px;
                &:hover{
                    color: @col-link-hover;
                }
            }
        }
        .social-media-list{
            list-style:none;
            margin:0 0 0 -15px;
            overflow: hidden;
            li{
                float: left;
                margin: 0 0 15px 15px;
                a{
                    font-size: 36px;
                    font-size: 2.250rem;
                    color: @bg-sec;
                }
            }   
        }
        .disclaimer{
            display: none;
        }    

    }
	
}
@media @tablet { 
    .global-footer{
        .footer-drop-nav{
            margin-bottom: 30px;
            .inner-wrap{
                margin-left: -30px;
            }
            .dk_container{
                float: left;
                margin-bottom: 30px;
                margin-left: 30px;
                width: 45.890411%;
            } 
        }
        .search-box{
            padding-bottom: 30px;
            margin-bottom: 30px;
            .search-query{
                font-size: 25px;
                font-size: 1.563rem;
            }
        }
        .guide-nav-wrap{
            margin-bottom: 30px;
            padding-bottom: 30px;
                    .box-sizing;

            .guide-nav{
                margin: -40px 0 0 -30px;
                position: relative;
                    .box-sizing;
                .channel{
                    float: left;
                    width: 45.774648%;
                    margin-top: 40px;
                    margin-left: 30px;
                    .box-sizing;
                    .title{
                        .carrot{
                            display: none;
                        }
                    }

                    &.open{
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        top: 0;
                        left: 0;
                        margin-left: 15px;
                        margin-top: 20px;
                        .title{
                            font-size: 25px;
                            font-size: 1.563rem;
                            overflow: visible;
                            position: relative;
                            [class^="icon-"], [class*=" icon-"] {
                                font-size: 96px;
                                font-size: 6.000rem;
                                margin-right: 15px;
                                height: 160px;
                                width: 160px;
                                line-height: 160px;
                            }
                        }
                    }
                    .child{
                        .close{
                            line-height: 1.5em;
                            font-size: 1.5em;
                            margin-top: 5px;
                            margin-right: 5px;
                            float: right;
                            display: inline-block;
                            position: absolute;
                            top: 0;
                            right: 5px;
                            color: #b1b1b0;
                            cursor: pointer;
                        }
                        .content{
                            padding-left:175px; 
                            .links{
                                li{
                                    width: 44%;
                                    margin-right: 6%;
                                    float: left;   
                                }
                                
                            }
                        }
                    }
                }  
                
            }
        }
        .footer-link-nav{
            .social-media-list{
                margin:53px 0 20px -35px;
            } 
               
        }
            
    }
}
@media @desktop { 
    .global-footer{ 
        .footer-drop-nav{
            .dk_container{
                width: 30.206186%;
            } 
        }
        .guide-nav-wrap{
            .guide-nav{
                .channel{
                    width: 30.105263%;
                    .child{
                        .content{
                            padding-left:210px; 
                            width: 74%;
                            .links{
                                width: 69%;
                                margin-top: -41px;
                                float: left;
                                margin-left: 71.5%;
                                border-top: 0;
                                &:before {
                                    top: 27px;
                                    left: -28px;
                                }
                                
                            }
                        }
                    }
                    &.open{
                        height: 160px;
                        margin-top: 40px;
                        .title{
                            margin-top: 20px;
                            width: 50%;
                            position: relative;
                            float: left;
                            &:after{
                                content: '';
                                border-bottom: 1px solid @col-border-sec;
                                width: 72%;
                                display: block;
                                margin-left: 210px;
                                margin-top: -10px;
                            }
                            [class^="icon-"], [class*=" icon-"] {
                                margin-right: 50px;
                                margin-top: -20px;

                            }
                        }
                    }
                }
            }
        }
        .footer-link-nav{
            .logo{ 
                width: 90px;
            }

            .social-media-list{
                margin-bottom: 0;
                float: right;
            }
            .disclaimer{
                display: block;
                color: @col-text;
                font-size: 12px;
                font: 0.750rem arumsansextrabold, Arial, sans-serif;
                float: right;
                padding-top: 2px;
            }
            .logo{
                float: none;
            }
            .footer-links{
                margin-left: -30px;
                li{
                    float: left;
                    margin-left: 30px;
                }
            }    
        }
    }
}
