
@import url(var.less);

.box-sizing{
    box-sizing:border-box;
}

.global-footer{
	background: none no-repeat scroll 0 0 #fff;
	color: #333;
	font-family: Arial,sans-serif;
	font-size: .786em;
	padding: 0 0 1em;
    ul{
        list-style: none;
        margin-bottom: 0;
    }
    ::-webkit-input-placeholder {
       color: @col-text;
    }

    :-moz-placeholder { /* Firefox 18- */
       color: @col-text;  
    }

    ::-moz-placeholder {  /* Firefox 19+ */
       color: @col-text;  
    }

    :-ms-input-placeholder {  
       color: @col-text;  
    }

    // Dropdpwn Navigation start here - Footer Section A
    .footer-drop-nav{
        margin:0 10px 20px;
        border-bottom: 1px solid @col-border-prim;
        .dk_container{
            margin-right: 30px;
            box-sizing:border-box;
            width: 100%;
        }
        .dk_toggle{
            text-transform: uppercase;
            width: 100%;
            box-sizing:border-box;
            font-size: 13px;
            font:  0.813rem 'ArumSans Lt', Arial, sans-serif;
        }
        .dk_options_inner{
            border-bottom: 1px solid #f0f0f0;
            padding: 10px 0;
        }
        .dk_options{
         width: 100%;
        font-size: 13px;
        font:  0.813rem 'ArumSans Lt', Arial, sans-serif; 
        }
    }
    
    //Search Box starts here - Footer Section B
    .search-box{
        margin: 0 10px 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid @col-border-prim;
        .box-sizing;
        /*text-align: right;
        padding-bottom: 20px;
        margin: 0 10px 20px;
        border-bottom: 1px solid @col-border-prim;
        form{
            border:2px solid @col-border-prim;
            padding-left:20px;
        }*/
        .search-query{
            width: 100%;
            font-family: 'Vectipede Bk', Arial, sans-serif;
            font-size: 25px;
            font-size: 1.563rem;
            color: @col-text;
            box-shadow: none;
            border:1px solid @col-border-sec;
            border-right-color: @bg-prim;
            border-radius: 0 5px 5px 0;
            height: 58px;
            line-height: 58px;
            padding: 0 80px 0 20px;
            margin: 0 -58px 0 0;
            float: left;
            .box-sizing;
        }
        .btn-search{
            background-color: @bg-prim;
            height: 58px;
            width: 58px;
            color: #fff;
            border:none;
            border-radius: 0 5px 5px 0;
            font-size: 40px;
            font-size: 2.5rem;
            font-weight: bold;
        }
    }

    // Footer Guide Nav - Footer Section C
    .guide-nav-wrap{
        position: relative;
        margin: 0 10px;
        border-bottom:1px solid @col-border-prim;
        margin-bottom: 20px;
        padding-bottom: 20px;

        .guide-nav{
            margin-top: -20px;
            .channel{
                background-color: @col-sec;
                border-radius: 0 4px 4px 0;
                margin-top: 20px;
                .title{
                    height: 60px;
                    color: @col-text;
                    text-transform: uppercase;
                    padding: 0 10px 0 0;
                    font-size: 15px;
                    font:  0.938rem 'ArumSans Lt', Arial, sans-serif;
                    line-height: 58px;
                    cursor: pointer;
                    [class^="icon-"], [class*=" icon-"] {
                        font-size: 32px;
                        font-size: 2.000rem;
                        margin-right: 15px;
                        background-color: @bg-sec;
                        color: #fff;
                        height: 60px;
                        width: 60px;
                        line-height: 60px;
                        text-align: center;
                        display: inline-block;
                        float: left;
                    }
                    .carrot{
                        float: right;
                        &:after{
                            content: '>';
                            font-family: 'Vectipede Bk', Arial, sans-serif;
                        }
                    }
                    .box-sizing;
                }
                .child{
                    display: none;
                    text-transform: lowercase;
                    background-color: @col-sec;
                    display: none;
                    .trigger{
                        .reveal{
                            display: block;
                            font-size: 18px;
                            padding: 0 5px;
                            cursor: pointer;
                            float: right;
                            position: absolute;
                            top: 25px;
                            right: 10px;
                            z-index: 1;
                            &:after{
                                content: 'v';
                                font-family: Arial, sans-serif;
                            }
                        }
                        .close{
                            display: none;
                        }
                    }
                    .content{
                        padding:0 8px 0 75px;
                        .box-sizing;
                        .subtitle{
                            display: none;
                        }

                        .links{
                            margin-bottom: 20px;
                            position: relative;
                            border-top:1px solid @col-border-sec;
                            &:before{
                                content: '';
                                border: 1px solid @col-border-sec;
                                border-radius: 6px;
                                width: 11px;
                                height: 11px;
                                position: absolute;
                                right: 0;
                                top: -7px;
                            }
                            a{
                                font-size: 13px;
                                font: 0.813rem 'Vectipede Bk', Arial, sans-serif;
                                color: @col-link;
                                margin-top: 20px;
                                display: inline-block;
                                text-transform: capitalize;
                            } 
                        }
                    }
                }
                &.open{
                    .child{
                    display: block; 
                   }
                }
            }
            /*>:last-child{
                margin-bottom: 0;
            }*/
        }
    }
    
    
    //Footer Section D
    .footer-link-nav{
        .logo{
        width:90px;
        margin:0px 10px 20px 10px;
        float: left;
        }
        .footer-links{
            margin:-5px 0 0 0;
            float: left;
            a{
                color: @col-link;
                display: block;
                font-weight: bold;
                padding: 5px 5px 10px;
                font-size: 12px;
                font: 0.750rem 'ArumSans exBold', Arial, sans-serif;
                &:hover{
                    color: @col-link-hover;
                }
            }
        }
        .disclaimer{
            //need to add some styles when VD is ready
            color: @col-text;
            display: none;
            font-size: 12px;
            font: 0.750rem 'ArumSans exBold', Arial, sans-serif;
        }
        .social-media-list{
                list-style:none;
                margin:0 0 0 -10px;
                overflow: hidden;
                li{
                    float: left;
                    margin: 0 0 15px 1.5em;

                }
                
                .icon{
                    display: block;
                    height: 40px;
                    padding: 0;
                    width: 40px;
                    background-image: url(/sites/all/themes/mcgrawhill/images/social-icons.png);
                    background-repeat: no-repeat;
                    text-indent: 100%;
                    white-space: nowrap;
                    overflow: hidden;
                    width: 40px;

                    &.facebook{
                      background-position: -43px 0; 
                      &:hover{
                              background-position: 0 0;
                          }
                    }
                    &.twitter{
                          background-position: -43px -45px;
                          &:hover{
                              background-position: 0 -45px;
                          }
                    }
                    &.youtube{
                          background-position: -43px -136px;
                          &:hover{
                              background-position:0 -136px;
                          }
                    }
                    &.linkedin{
                          background-position: -43px 0; 
                    }
                }
            
        }    
    }
	
}
@media @tablet { 
    .global-footer{
        .footer-drop-nav{
            margin-bottom: 30px;
            .dk_container{
                float: left;
                width: auto;
                margin-bottom: 30px
            } 
        }
        .search-box{
            padding-bottom: 30px;
            margin-bottom: 30px;
        }
        .guide-nav-wrap{
            margin-bottom: 30px;
            padding-bottom: 30px;
                    .box-sizing;

            .guide-nav{
                margin: -40px 0 0 -30px;
                position: relative;
                    .box-sizing;
                .channel{
                    float: left;
                    width: 45.774648%;
                    margin-top: 40px;
                    margin-left: 30px;
                    .box-sizing;
                    .title{
                        .carrot{
                            display: none;
                        }
                    }

                    &.open{
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        top: 0;
                        left: 0;
                        margin-left: 15px;
                        margin-top: 20px;
                        .title{
                            font-size: 25px;
                            font-size: 1.563rem;
                            [class^="icon-"], [class*=" icon-"] {
                                font-size: 96px;
                                font-size: 6.000rem;
                                margin-right: 15px;
                                height: 160px;
                                width: 160px;
                                line-height: 160px;
                            }
                        }
                    }
                    .child{
                        .trigger{
                            .close{
                                padding: 0 5px;
                                line-height: 1.5em;
                                font-size: 1.5em;
                                margin-top: 5px;
                                margin-right: 5px;
                                float: right;
                                display: inline-block;
                                position: absolute;
                                right: 5px;
                                top: 5px;
                                color: #b1b1b0;
                            }
                        }
                        .content{
                            padding-left:175px; 
                            .links{
                                li{
                                    width: 44%;
                                    margin-right: 6%;
                                    float: left;   
                                }
                                
                            }
                        }
                    }
                }  
                
            }
        }
        .footer-link-nav{
            .logo{
                width: 69px;
            }
            .disclaimer{
                padding-top: 67px;
                display: block;
            }
            .social-media-list{
                margin:0 0 20px -20px;
            }    
        }
            
    }
}
@media @desktop { 
    .global-footer{ 
        .guide-nav-wrap{
            .guide-nav{
                .channel{
                    width: 30.105263%;
                    .child{
                        .content{
                            padding-left:210px; 
                            width: 74%;
                            .links{
                                width: 69%;
                                margin-top: -35px;
                                float: left;
                                margin-left: 71.5%;
                                border-top: 0;
                                &::before {
                                    top: 27px;
                                    left: -26px;
                                }
                                
                            }
                        }
                    }
                    &.open{
                        height: 160px;
                        margin-top: 40px;
                        .title{
                            margin-top: 20px;
                            width: 36%;
                            position: relative;
                            float: left;
                            &:after{
                                content: '';
                                border-bottom: 1px solid @col-border-sec;
                                width: 100%;
                                display: block;
                                margin-left: 210px;
                            }
                            [class^="icon-"], [class*=" icon-"] {
                                margin-right: 50px;
                                margin-top: -20px;

                            }
                        }
                    }
                }
            }
        }
        .footer-link-nav{
            .logo{ 
                width: 90px;
            }
            .disclaimer{
                padding-top: 83px;
            }
            .social-media-list{
                margin-top:56px;
            }    
        }
    }
}
