/*@media all and (max-width: 499px) {}
@media all and (max-width: 739px) {}
@media all and (max-width: 979px) {}
@media all and (max-width: 1220px) {}
@media all and (min-width: 740px) and (min-device-width:740px),(max-device-width:800px) and (min-width:740px) and (orientation:landscape) {}
@media all and (min-width: 980px) and (min-device-width:980px),all and (max-device-width:1024px) and (min-width:1024px) and (orientation:landscape) {}*/

@tablet: ~"all and (min-width: 740px)";
@desktop: ~"all and (min-width: 980px)";
/*
.myElement {
  @media @tablet { padding: 20px; }
  @media @desktop { padding: 30px; }
}*/
@col-prim:#de2516;
@col-sec:#e6e7e2;
@col-text:#30494d;
@col-link:#30494d;
@col-link-hover:#de2516;
@col-border:#c0c0be;

.global-footer{
	background: none no-repeat scroll 0 0 #fff;
	color: #333;
	font-family: Arial,sans-serif;
	font-size: .786em;
	padding: 0 0 1em;
    ul{
        list-style: none;
    }
    // Dropdpwn Navigation start here - Footer Section A
    .footer-drop-nav{
        margin:0 10px 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid #f0f0f0;
        span{
            width: 18%;
            float: left;
            padding-right: 2.2%;
        }
        span:last-child{
            padding-right: 0;
        }
        select{
            width: 100%;
            margin-bottom: 0;
            text-transform: uppercase;
        }
    }
    
    //Search Box starts here - Footer Section B
    .search-box{
        text-align: right;
        padding-bottom: 20px;
        margin: 0 10px 20px;
        border-bottom: 1px solid @col-border;
        form{
            border:2px solid @col-border;
            padding-left:20px;
        }
        .search-query{
            width: 78.888889%;
            font-size: 2em;
            border:1px solid #fff;
            border-radius: 0;
            box-shadow: none;
            float:left;
            margin-top: 15px;
            padding: 0 0 5px 0;
            color: @col-text;
        }
        .btn-search{
            background-color: @col-prim;
            height: 52px;
            width: 52px;
            border: 0;
        }
    }

    // Footer Guide Nav - Footer Section C
    .guide-nav-wrap{
        position: relative;
        margin: 0 10px;
        .guide-nav{
            margin: 0;
            .channel{
                background-color: @col-sec;
                border-radius: 0 4px 4px 0;
                margin-bottom: 20px;
                .title{
                    height: 50px;
                    color: @col-text;
                    text-transform: uppercase;
                    padding: 25px 10px 0 50px;
                    font-size: 2em;
                    .carrot{
                        float: right;
                    }
                    &.open{
                        display: none;
                    }
                }
                .child{
                    text-transform: lowercase;
                    background-color: @col-sec;
                    display: none;
                    position: relative;
                    .trigger{
                        .reveal{
                            display: block;
                            font-size: 20px;
                            padding: 0 5px;
                            background-color: red;
                            cursor: pointer;
                            float: right;
                            position: absolute;
                            top: 20px;
                            right: 10px;
                            z-index: 1;
                        }
                        .close{
                            display: none;
                        }
                    }
                    .content{
                        padding-left: 50px;
                        padding-top: 25px;
                        width: 84%;
                        .subtitle{
                            color: @col-text;
                            font-size: 2em;
                            text-transform: uppercase;
                            border-bottom:1px solid @col-border;
                            padding-bottom: 5px;
                            line-height: 1.5em;
                            position: relative;
                            &:after{
                                content: '';
                                border: 1px solid @col-border;
                                border-radius: 5px;
                                width: 10px;
                                height: 10px;
                                position: absolute;
                                right: 0;
                                bottom: -7px;
                            }
                        }
                        .links{
                            margin-top: 10px;
                            margin-bottom: 10px;
                            li{
                                font-size: 1.3em;    
                            }

                        }
                    }
                }
            }
            >:last-child{
                margin-bottom: 0;
            }
        }
    }
    
    
    //Footer Section D
    .footer-link-nav{
        border-top:1px solid #f0f0f0;
        margin-top: 20px;
        padding-top: 20px;
        .logo{
        width:90px;
        margin:0 0 20px 10px;
        float: left;
        }
        .footer-links{
            margin:0;
            float: left;
            a{
                color: @col-link;
                display: block;
                font-weight: bold;
                padding: 5px 10px 5px;
                &:hover{
                    background-color: #edebdd;
                    color: @col-link-hover;
                }
            }
        }
        .disclaimer{
            //need to add some styles when VD is ready
            margin-left: 10px;
            color: @col-text;
        }
        .social-media-list{
                list-style:none;
                margin:0;
                li:first-child{
                    .icon{
                    margin-left: 10px; 
                    }
                }
            .icon{
                display: block;
                height: 40px;
                padding: 0;
                width: 40px;
                background-image: url(/sites/all/themes/mcgrawhill/images/social-icons.png);
                background-repeat: no-repeat;
                text-indent: 100%;
                white-space: nowrap;
                overflow: hidden;
                float: left;
                margin: 1.5em 0 0 1.5em;
                width: 40px;

                &.facebook{
                  background-position: -43px 0; 
                  &:hover{
                          background-position: 0 0;
                      }
                }
                &.twitter{
                      background-position: -43px -45px;
                      &:hover{
                          background-position: 0 -45px;
                      }
                }
                &.youtube{
                      background-position: -43px -136px;
                      &:hover{
                          background-position:0 -136px;
                      }
                }
                &.linkedin{
                      background-position: -43px 0; 
                }
            }
            
        }    
    }
	
}
@media @tablet { 
    .global-footer{ 
        .search-box{
          .search-query{
            width:88.823529%;
          }  
        }
        .guide-nav-wrap{
            .guide-nav{
                .channel{
                    float: left;
                    width: 48.529412%;
                    margin-right: 20px;
                    .title{
                        &.open{
                            display: block;
                        }
                        .carrot{
                            display: none;
                        }
                    }
                    .child{
                        width: 100%;
                        position: absolute;
                        top: 0;
                        left:0;
                        height: 100%;
                        .trigger{
                            .reveal{
                                display: none;
                            }
                            .close{
                                border: 1px solid @col-prim;
                                padding: 0 5px;
                                line-height: 1.5em;
                                font-size: 1.5em;
                                margin-top: 5px;
                                margin-right: 5px;
                                display: block;
                            }
                        }
                        .content{
                            margin-left: 150px; 
                            margin-top: 50px;
                            width: 60%;
                            .links{
                                li{
                                    width: 50%;
                                    float: left;    
                                }
                                
                            }
                        }
                    }
                }    
                >:nth-child(2), >:nth-child(4), >:last-child{
                    margin-right: 0;
                }
                >:nth-child(5), >:last-child{
                    margin-bottom: 0;
                }
            }
        }
        
        
        .disclaimer{
            padding-top: 88px;
        }
        .social-media-list{
            li:first-child{
                .icon{
                margin-left: 1.5em; 
                }
            }
        }    
    }
}
@media @desktop { 
    .global-footer{ 
        .search-box{
          .search-query{
            width:91.73913%;
          }  
        }
        .guide-nav-wrap{
            .guide-nav{
                .channel{
                    width: 31.847826%;
                    .child{
                        .content{
                            width: 74%;
                            .subtitle{
                                width: 38%;
                                float:left; 
                                margin-right: 2%;
                            }
                            .links{
                                width: 60%;
                                margin-top: 20px;
                                float: left;
                            }
                        }
                    }
                }
                >:nth-child(2), >:nth-child(4){
                    margin-right: 20px;
                }
                >:nth-child(3), >:last-child{
                    margin-right: 0px;
                }
                >:nth-child(4), >:last-child{
                    margin-bottom: 0;
                }
            }
        }
    }
}
