@font-face {
  font-family: 'ArumSans Lt';
  src: url('fonts/ArumSansBold.eot'); /* IE9 Compat Modes */
  src: url('fonts/ArumSansBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/ArumSansBold.woff') format('woff'), /* Modern Browsers */
       url('fonts/ArumSansBold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/ArumSansBold.svg#2a1a6ef2bc71596385a8d3802be55098') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'ArumSans exBold';
  src: url('fonts/ArumSansExtrabold.eot'); /* IE9 Compat Modes */
  src: url('fonts/ArumSansExtrabold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/ArumSansExtrabold.woff') format('woff'), /* Modern Browsers */
       url('fonts/ArumSansExtrabold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/ArumSansExtrabold.svg#a1d48ba2e0e365e38e2f0b8448f26bab') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  700;
}
@font-face {
  font-family: 'Vectipede Bk';
  src: url('fonts/VectipedeBk-Regular.eot'); /* IE9 Compat Modes */
  src: url('fonts/VectipedeBk-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/VectipedeBk-Regular.woff') format('woff'), /* Modern Browsers */
       url('fonts/VectipedeBk-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/VectipedeBk-Regular.svg#42a5d73a0adb767a3427146b1f48f2f2') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}






