.box-sizing {
  box-sizing: border-box;
}
.global-footer {
  background: none no-repeat scroll 0 0 #ffffff;
  color: #333;
  font-family: Arial, sans-serif;
  font-size: .786em;
  padding: 0 0 1em;
}
.global-footer ul {
  list-style: none;
  margin-bottom: 0;
}
.global-footer ::-webkit-input-placeholder {
  color: #32494d;
}
.global-footer :-moz-placeholder {
  /* Firefox 18- */
  color: #32494d;
}
.global-footer ::-moz-placeholder {
  /* Firefox 19+ */
  color: #32494d;
}
.global-footer :-ms-input-placeholder {
  color: #32494d;
}
.global-footer .footer-drop-nav {
  margin: 0 10px 20px;
  border-bottom: 1px solid #e1e1e1;
}
.global-footer .footer-drop-nav .dk_container {
  margin-right: 30px;
  box-sizing: border-box;
  width: 100%;
}
.global-footer .footer-drop-nav .dk_toggle {
  text-transform: uppercase;
  width: 100%;
  box-sizing: border-box;
  font-size: 13px;
  font: 0.813rem 'ArumSans Lt', Arial, sans-serif;
}
.global-footer .footer-drop-nav .dk_options_inner {
  border-bottom: 1px solid #f0f0f0;
  padding: 10px 0;
}
.global-footer .footer-drop-nav .dk_options {
  width: 100%;
  font-size: 13px;
  font: 0.813rem 'ArumSans Lt', Arial, sans-serif;
}
.global-footer .search-box {
  margin: 0 10px 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #e1e1e1;
  box-sizing: border-box;
  /*text-align: right;
        padding-bottom: 20px;
        margin: 0 10px 20px;
        border-bottom: 1px solid @col-border-prim;
        form{
            border:2px solid @col-border-prim;
            padding-left:20px;
        }*/
}
.global-footer .search-box .search-query {
  width: 100%;
  font-family: 'Vectipede Bk', Arial, sans-serif;
  font-size: 25px;
  font-size: 1.563rem;
  color: #32494d;
  box-shadow: none;
  border: 1px solid #acacac;
  border-right-color: #de2516;
  border-radius: 0 5px 5px 0;
  height: 58px;
  line-height: 58px;
  padding: 0 80px 0 20px;
  margin: 0 -58px 0 0;
  float: left;
  box-sizing: border-box;
}
.global-footer .search-box .btn-search {
  background-color: #de2516;
  height: 58px;
  width: 58px;
  color: #fff;
  border: none;
  border-radius: 0 5px 5px 0;
  font-size: 40px;
  font-size: 2.5rem;
  font-weight: bold;
}
.global-footer .guide-nav-wrap {
  position: relative;
  margin: 0 10px;
  border-bottom: 1px solid #e1e1e1;
  margin-bottom: 20px;
  padding-bottom: 20px;
}
.global-footer .guide-nav-wrap .guide-nav {
  margin-top: -20px;
  /*>:last-child{
                margin-bottom: 0;
            }*/
}
.global-footer .guide-nav-wrap .guide-nav .channel {
  background-color: #e6e7e2;
  border-radius: 0 4px 4px 0;
  margin-top: 20px;
}
.global-footer .guide-nav-wrap .guide-nav .channel .title {
  height: 60px;
  color: #32494d;
  text-transform: uppercase;
  padding: 0 10px 0 0;
  font-size: 15px;
  font: 0.938rem 'ArumSans Lt', Arial, sans-serif;
  line-height: 58px;
  cursor: pointer;
  box-sizing: border-box;
}
.global-footer .guide-nav-wrap .guide-nav .channel .title [class^="icon-"],
.global-footer .guide-nav-wrap .guide-nav .channel .title [class*=" icon-"] {
  font-size: 32px;
  font-size: 2.000rem;
  margin-right: 15px;
  background-color: #32494d;
  color: #fff;
  height: 60px;
  width: 60px;
  line-height: 60px;
  text-align: center;
  display: inline-block;
  float: left;
}
.global-footer .guide-nav-wrap .guide-nav .channel .title .carrot {
  float: right;
}
.global-footer .guide-nav-wrap .guide-nav .channel .title .carrot:after {
  content: '>';
  font-family: 'Vectipede Bk', Arial, sans-serif;
}
.global-footer .guide-nav-wrap .guide-nav .channel .child {
  text-transform: lowercase;
  background-color: #e6e7e2;
  display: none;
}
.global-footer .guide-nav-wrap .guide-nav .channel .child .trigger .reveal {
  display: block;
  font-size: 18px;
  padding: 0 5px;
  cursor: pointer;
  float: right;
  position: absolute;
  top: 25px;
  right: 10px;
  z-index: 1;
}
.global-footer .guide-nav-wrap .guide-nav .channel .child .trigger .reveal:after {
  content: 'v';
  font-family: Arial, sans-serif;
}
.global-footer .guide-nav-wrap .guide-nav .channel .child .trigger .close {
  display: none;
}
.global-footer .guide-nav-wrap .guide-nav .channel .child .content {
  padding: 0 8px 0 75px;
  box-sizing: border-box;
}
.global-footer .guide-nav-wrap .guide-nav .channel .child .content .subtitle {
  display: none;
}
.global-footer .guide-nav-wrap .guide-nav .channel .child .content .links {
  margin-bottom: 20px;
  position: relative;
  border-top: 1px solid #acacac;
}
.global-footer .guide-nav-wrap .guide-nav .channel .child .content .links:before {
  content: '';
  border: 1px solid #acacac;
  border-radius: 6px;
  width: 11px;
  height: 11px;
  position: absolute;
  right: 0;
  top: -7px;
}
.global-footer .guide-nav-wrap .guide-nav .channel .child .content .links a {
  font-size: 13px;
  font: 0.813rem 'Vectipede Bk', Arial, sans-serif;
  color: #32494d;
  margin-top: 20px;
  display: inline-block;
  text-transform: capitalize;
}
.global-footer .guide-nav-wrap .guide-nav .channel.open .child {
  display: block;
}
.global-footer .footer-link-nav .logo {
  width: 90px;
  margin: 0px 10px 20px 10px;
  float: left;
}
.global-footer .footer-link-nav .footer-links {
  margin: -5px 0 0 0;
  float: left;
}
.global-footer .footer-link-nav .footer-links a {
  color: #32494d;
  display: block;
  font-weight: bold;
  padding: 5px 5px 10px;
  font-size: 12px;
  font: 0.75rem 'ArumSans exBold', Arial, sans-serif;
}
.global-footer .footer-link-nav .footer-links a:hover {
  color: #de2516;
}
.global-footer .footer-link-nav .disclaimer {
  color: #32494d;
  display: none;
  font-size: 12px;
  font: 0.75rem 'ArumSans exBold', Arial, sans-serif;
}
.global-footer .footer-link-nav .social-media-list {
  list-style: none;
  margin: 0 0 0 -10px;
  overflow: hidden;
}
.global-footer .footer-link-nav .social-media-list li {
  float: left;
  margin: 0 0 15px 1.5em;
}
.global-footer .footer-link-nav .social-media-list .icon {
  display: block;
  height: 40px;
  padding: 0;
  background-image: url(/sites/all/themes/mcgrawhill/images/social-icons.png);
  background-repeat: no-repeat;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  width: 40px;
}
.global-footer .footer-link-nav .social-media-list .icon.facebook {
  background-position: -43px 0;
}
.global-footer .footer-link-nav .social-media-list .icon.facebook:hover {
  background-position: 0 0;
}
.global-footer .footer-link-nav .social-media-list .icon.twitter {
  background-position: -43px -45px;
}
.global-footer .footer-link-nav .social-media-list .icon.twitter:hover {
  background-position: 0 -45px;
}
.global-footer .footer-link-nav .social-media-list .icon.youtube {
  background-position: -43px -136px;
}
.global-footer .footer-link-nav .social-media-list .icon.youtube:hover {
  background-position: 0 -136px;
}
.global-footer .footer-link-nav .social-media-list .icon.linkedin {
  background-position: -43px 0;
}
@media all and (min-width: 740px) {
  .global-footer .footer-drop-nav {
    margin-bottom: 30px;
  }
  .global-footer .footer-drop-nav .dk_container {
    float: left;
    width: auto;
    margin-bottom: 30px;
  }
  .global-footer .search-box {
    padding-bottom: 30px;
    margin-bottom: 30px;
  }
  .global-footer .guide-nav-wrap {
    margin-bottom: 30px;
    padding-bottom: 30px;
    box-sizing: border-box;
  }
  .global-footer .guide-nav-wrap .guide-nav {
    margin: -40px 0 0 -30px;
    position: relative;
    box-sizing: border-box;
  }
  .global-footer .guide-nav-wrap .guide-nav .channel {
    float: left;
    width: 45.774648%;
    margin-top: 40px;
    margin-left: 30px;
    box-sizing: border-box;
  }
  .global-footer .guide-nav-wrap .guide-nav .channel .title .carrot {
    display: none;
  }
  .global-footer .guide-nav-wrap .guide-nav .channel.open {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin-left: 15px;
    margin-top: 20px;
  }
  .global-footer .guide-nav-wrap .guide-nav .channel.open .title {
    font-size: 25px;
    font-size: 1.563rem;
  }
  .global-footer .guide-nav-wrap .guide-nav .channel.open .title [class^="icon-"],
  .global-footer .guide-nav-wrap .guide-nav .channel.open .title [class*=" icon-"] {
    font-size: 96px;
    font-size: 6.000rem;
    margin-right: 15px;
    height: 160px;
    width: 160px;
    line-height: 160px;
  }
  .global-footer .guide-nav-wrap .guide-nav .channel .child .trigger .close {
    padding: 0 5px;
    line-height: 1.5em;
    font-size: 1.5em;
    margin-top: 5px;
    margin-right: 5px;
    float: right;
    display: inline-block;
    position: absolute;
    right: 5px;
    top: 5px;
    color: #b1b1b0;
  }
  .global-footer .guide-nav-wrap .guide-nav .channel .child .content {
    padding-left: 175px;
  }
  .global-footer .guide-nav-wrap .guide-nav .channel .child .content .links li {
    width: 44%;
    margin-right: 6%;
    float: left;
  }
  .global-footer .footer-link-nav .logo {
    width: 69px;
  }
  .global-footer .footer-link-nav .disclaimer {
    padding-top: 67px;
    display: block;
  }
  .global-footer .footer-link-nav .social-media-list {
    margin: 0 0 20px -20px;
  }
}
@media all and (min-width: 980px) {
  .global-footer .guide-nav-wrap .guide-nav .channel {
    width: 30.105263%;
  }
  .global-footer .guide-nav-wrap .guide-nav .channel .child .content {
    padding-left: 210px;
    width: 74%;
  }
  .global-footer .guide-nav-wrap .guide-nav .channel .child .content .links {
    width: 69%;
    margin-top: -35px;
    float: left;
    margin-left: 71.5%;
    border-top: 0;
  }
  .global-footer .guide-nav-wrap .guide-nav .channel .child .content .links::before {
    top: 27px;
    left: -26px;
  }
  .global-footer .guide-nav-wrap .guide-nav .channel.open {
    height: 160px;
    margin-top: 40px;
  }
  .global-footer .guide-nav-wrap .guide-nav .channel.open .title {
    margin-top: 20px;
    width: 36%;
    position: relative;
    float: left;
  }
  .global-footer .guide-nav-wrap .guide-nav .channel.open .title:after {
    content: '';
    border-bottom: 1px solid #acacac;
    width: 100%;
    display: block;
    margin-left: 210px;
  }
  .global-footer .guide-nav-wrap .guide-nav .channel.open .title [class^="icon-"],
  .global-footer .guide-nav-wrap .guide-nav .channel.open .title [class*=" icon-"] {
    margin-right: 50px;
    margin-top: -20px;
  }
  .global-footer .footer-link-nav .logo {
    width: 90px;
  }
  .global-footer .footer-link-nav .disclaimer {
    padding-top: 83px;
  }
  .global-footer .footer-link-nav .social-media-list {
    margin-top: 56px;
  }
}
