.box-sizing {
  box-sizing: border-box;
}
.global-footer {
  background: none no-repeat scroll 0 0 #ffffff;
  color: #333;
  font-family: Arial, sans-serif;
  font-size: .786em;
  padding: 0 0 1em;
}
.global-footer ul {
  list-style: none;
  margin-bottom: 0;
}
.global-footer ::-webkit-input-placeholder {
  color: #32494d;
}
.global-footer :-moz-placeholder {
  /* Firefox 18- */
  color: #32494d;
}
.global-footer ::-moz-placeholder {
  /* Firefox 19+ */
  color: #32494d;
}
.global-footer :-ms-input-placeholder {
  color: #32494d;
}
.global-footer .footer-drop-nav {
  border-bottom: 1px solid #e1e1e1;
  margin-bottom: 20px;
}
.global-footer .footer-drop-nav .dk_container {
  width: 100%;
  font-size: 13px;
  font: 0.813rem arumsans_ltbold, Arial, sans-serif;
}
.global-footer .footer-drop-nav .dk_toggle {
  text-transform: uppercase;
  width: 100%;
  box-sizing: border-box;
}
.global-footer .footer-drop-nav .dk_options_inner {
  border-bottom: 1px solid #f0f0f0;
  padding: 10px 0;
}
.global-footer .footer-drop-nav .dk_options {
  width: 100%;
}
.global-footer .search-box {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #e1e1e1;
  box-sizing: border-box;
}
.global-footer .search-box .search-query {
  width: 100%;
  font-size: 16px;
  font: 1rem vectipedebook, Arial, sans-serif;
  color: #32494d;
  box-shadow: none;
  border: 1px solid #acacac;
  border-right-color: #de2516;
  border-radius: 0 5px 5px 0;
  height: 58px;
  line-height: 58px;
  padding: 0 80px 0 20px;
  margin: 0 -58px 0 0;
  float: left;
  box-sizing: border-box;
}
.global-footer .search-box .btn-search {
  background-color: #de2516;
  height: 58px;
  width: 58px;
  color: #fff;
  border: none;
  border-radius: 0 5px 5px 0;
  font-size: 40px;
  font-size: 2.5rem;
  font-weight: bold;
  padding: 0;
  cursor: pointer;
}
.global-footer .footer-tab-nav-wrap {
  position: relative;
  border-bottom: 1px solid #e1e1e1;
  margin-bottom: 20px;
  padding-bottom: 20px;
}
.global-footer .footer-tab-nav-wrap .footer-tab-nav {
  margin-top: -20px;
  /*>:last-child{
                margin-bottom: 0;
            }*/
}
.global-footer .footer-tab-nav-wrap .footer-tab-nav .category {
  background-color: #e6e7e2;
  border-radius: 0 4px 4px 0;
  margin-top: 20px;
}
.global-footer .footer-tab-nav-wrap .footer-tab-nav .category .title {
  height: 60px;
  color: #32494d;
  text-transform: uppercase;
  padding: 0 10px 0 0;
  font-size: 15px;
  font: 0.938rem arumsans_ltbold, Arial, sans-serif;
  line-height: 62px;
  cursor: pointer;
  overflow: hidden;
  box-sizing: border-box;
}
.global-footer .footer-tab-nav-wrap .footer-tab-nav .category .title [class^="icon-"],
.global-footer .footer-tab-nav-wrap .footer-tab-nav .category .title [class*=" icon-"] {
  font-size: 32px;
  font-size: 2.000rem;
  margin-right: 15px;
  background-color: #32494d;
  color: #fff;
  height: 60px;
  width: 60px;
  line-height: 60px;
  text-align: center;
  display: inline-block;
  float: left;
}
.global-footer .footer-tab-nav-wrap .footer-tab-nav .category .title:after {
  float: right;
  content: '>';
  font-family: 'Vectipede Bk', Arial, sans-serif;
}
.global-footer .footer-tab-nav-wrap .footer-tab-nav .category .child {
  text-transform: lowercase;
  background-color: #e6e7e2;
  display: none;
}
.global-footer .footer-tab-nav-wrap .footer-tab-nav .category .child .btn-close {
  display: none;
}
.global-footer .footer-tab-nav-wrap .footer-tab-nav .category .child .content {
  padding: 0 8px 0 75px;
  box-sizing: border-box;
}
.global-footer .footer-tab-nav-wrap .footer-tab-nav .category .child .content .subtitle {
  display: none;
}
.global-footer .footer-tab-nav-wrap .footer-tab-nav .category .child .content .links {
  margin-bottom: 20px;
  position: relative;
  border-top: 1px solid #acacac;
}
.global-footer .footer-tab-nav-wrap .footer-tab-nav .category .child .content .links:before {
  content: '';
  border: 1px solid #acacac;
  border-radius: 6px;
  width: 11px;
  height: 11px;
  position: absolute;
  right: 0;
  top: -7px;
}
.global-footer .footer-tab-nav-wrap .footer-tab-nav .category .child .content .links a {
  font-size: 13px;
  font: 0.813rem 'Vectipede Bk', Arial, sans-serif;
  color: #32494d;
  margin-top: 20px;
  display: inline-block;
  text-transform: capitalize;
}
.global-footer .footer-tab-nav-wrap .footer-tab-nav .category.open .title:after {
  -ms-writing-mode: tb-lr;
  -webkit-writing-mode: vertical-lr;
  -moz-writing-mode: vertical-lr;
  -ms-writing-mode: vertical-lr;
  writing-mode: vertical-lr;
  margin-top: 26px;
  margin-right: -26px;
}
.global-footer .footer-tab-nav-wrap .footer-tab-nav .category.open .child {
  display: block;
}
.global-footer .footer-link-nav .logo {
  width: 90px;
  margin: 0px 15px 20px 0;
  float: left;
}
.global-footer .footer-link-nav .footer-links {
  float: left;
}
.global-footer .footer-link-nav .footer-links a {
  color: #32494d;
  display: block;
  font-weight: bold;
  font-size: 12px;
  font: 0.75rem arumsansextrabold, Arial, sans-serif;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.global-footer .footer-link-nav .footer-links a:hover {
  color: #de2516;
}
.global-footer .footer-link-nav .social-media-list {
  list-style: none;
  margin: 0 0 0 -15px;
  overflow: hidden;
}
.global-footer .footer-link-nav .social-media-list li {
  float: left;
  margin: 0 0 15px 15px;
}
.global-footer .footer-link-nav .social-media-list li a {
  font-size: 36px;
  font-size: 2.250rem;
  color: #32494d;
}
.global-footer .footer-link-nav .disclaimer {
  display: none;
}
@media all and (min-width: 740px) {
  .global-footer .footer-drop-nav {
    margin-bottom: 30px;
  }
  .global-footer .footer-drop-nav .inner-wrap {
    margin-left: -30px;
  }
  .global-footer .footer-drop-nav .dk_container {
    float: left;
    margin-bottom: 30px;
    margin-left: 30px;
    width: 45.890411%;
  }
  .global-footer .search-box {
    padding-bottom: 30px;
    margin-bottom: 30px;
  }
  .global-footer .search-box .search-query {
    font-size: 25px;
    font-size: 1.563rem;
  }
  .global-footer .footer-tab-nav-wrap {
    margin-bottom: 30px;
    padding-bottom: 30px;
    box-sizing: border-box;
  }
  .global-footer .footer-tab-nav-wrap .footer-tab-nav {
    margin: -40px 0 0 -30px;
    position: relative;
    box-sizing: border-box;
  }
  .global-footer .footer-tab-nav-wrap .footer-tab-nav .category {
    float: left;
    width: 45.774648%;
    margin-top: 40px;
    margin-left: 30px;
    box-sizing: border-box;
  }
  .global-footer .footer-tab-nav-wrap .footer-tab-nav .category .title:after {
    display: none;
  }
  .global-footer .footer-tab-nav-wrap .footer-tab-nav .category.open {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin-left: 15px;
    margin-top: 20px;
  }
  .global-footer .footer-tab-nav-wrap .footer-tab-nav .category.open .title {
    font-size: 25px;
    font-size: 1.563rem;
    overflow: visible;
    position: relative;
  }
  .global-footer .footer-tab-nav-wrap .footer-tab-nav .category.open .title [class^="icon-"],
  .global-footer .footer-tab-nav-wrap .footer-tab-nav .category.open .title [class*=" icon-"] {
    font-size: 96px;
    font-size: 6.000rem;
    margin-right: 15px;
    height: 160px;
    width: 160px;
    line-height: 160px;
  }
  .global-footer .footer-tab-nav-wrap .footer-tab-nav .category .child .btn-close {
    line-height: 1.5em;
    font-size: 1.5em;
    margin-top: 5px;
    margin-right: 5px;
    float: right;
    display: inline-block;
    position: absolute;
    top: 0;
    right: 5px;
    color: #b1b1b0;
    cursor: pointer;
  }
  .global-footer .footer-tab-nav-wrap .footer-tab-nav .category .child .content {
    padding-left: 175px;
  }
  .global-footer .footer-tab-nav-wrap .footer-tab-nav .category .child .content .links li {
    width: 44%;
    margin-right: 6%;
    float: left;
  }
  .global-footer .footer-link-nav .social-media-list {
    margin: 53px 0 20px -35px;
  }
}
@media all and (min-width: 980px) {
  .global-footer .footer-drop-nav .dk_container {
    width: 30.206186%;
  }
  .global-footer .footer-tab-nav-wrap .footer-tab-nav .category {
    width: 30.105263%;
  }
  .global-footer .footer-tab-nav-wrap .footer-tab-nav .category .child .content {
    padding-left: 210px;
    width: 74%;
  }
  .global-footer .footer-tab-nav-wrap .footer-tab-nav .category .child .content .links {
    width: 69%;
    margin-top: -41px;
    float: left;
    margin-left: 71.5%;
    border-top: 0;
  }
  .global-footer .footer-tab-nav-wrap .footer-tab-nav .category .child .content .links:before {
    top: 27px;
    left: -28px;
  }
  .global-footer .footer-tab-nav-wrap .footer-tab-nav .category.open {
    height: 160px;
    margin-top: 40px;
  }
  .global-footer .footer-tab-nav-wrap .footer-tab-nav .category.open .title {
    margin-top: 20px;
    width: 50%;
    position: relative;
    float: left;
  }
  .global-footer .footer-tab-nav-wrap .footer-tab-nav .category.open .title:after {
    content: '';
    border-bottom: 1px solid #acacac;
    width: 72%;
    display: block;
    margin-left: 210px;
    margin-top: -10px;
    float: none;
    -ms-writing-mode: lr-tb;
    -webkit-writing-mode: horizontal-tb;
    -moz-writing-mode: horizontal-tb;
    -ms-writing-mode: horizontal-tb;
    writing-mode: horizontal-tb;
  }
  .global-footer .footer-tab-nav-wrap .footer-tab-nav .category.open .title [class^="icon-"],
  .global-footer .footer-tab-nav-wrap .footer-tab-nav .category.open .title [class*=" icon-"] {
    margin-right: 50px;
    margin-top: -20px;
  }
  .global-footer .footer-link-nav .logo {
    width: 90px;
  }
  .global-footer .footer-link-nav .social-media-list {
    margin-bottom: 0;
    float: right;
  }
  .global-footer .footer-link-nav .disclaimer {
    display: block;
    color: #32494d;
    font-size: 12px;
    font: 0.75rem arumsansextrabold, Arial, sans-serif;
    float: right;
    padding-top: 2px;
  }
  .global-footer .footer-link-nav .logo {
    float: none;
  }
  .global-footer .footer-link-nav .footer-links {
    margin-left: -30px;
  }
  .global-footer .footer-link-nav .footer-links li {
    float: left;
    margin-left: 30px;
  }
}
