.box-sizing {
  box-sizing: border-box;
}
.global-footer {
  background: none no-repeat scroll 0 0 #ffffff;
  color: #333;
  font-family: Arial, sans-serif;
  font-size: .786em;
  padding: 0 0 1em;
}
.global-footer ul {
  list-style: none;
  margin-bottom: 0;
}
.global-footer .footer-drop-nav {
  margin: 0 10px 20px;
  border-bottom: 1px solid #c0c0be;
}
.global-footer .footer-drop-nav .dk_container {
  margin-right: 30px;
  box-sizing: border-box;
  width: 100%;
}
.global-footer .footer-drop-nav .dk_toggle {
  text-transform: uppercase;
  width: 100%;
  box-sizing: border-box;
}
.global-footer .footer-drop-nav .dk_options_inner {
  border-bottom: 1px solid #f0f0f0;
}
.global-footer .footer-drop-nav .dk_options {
  width: 100%;
}
.global-footer .search-box {
  margin: 0 10px 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #c0c0be;
  box-sizing: border-box;
  /*text-align: right;
        padding-bottom: 20px;
        margin: 0 10px 20px;
        border-bottom: 1px solid @col-border;
        form{
            border:2px solid @col-border;
            padding-left:20px;
        }*/
}
.global-footer .search-box .search-query {
  width: 100%;
  font-size: 2em;
  box-shadow: none;
  padding: 0 20px;
  color: #32494d;
  border: 1px solid #c0c0be;
  line-height: 58px;
  height: 58px;
  margin: 0 -58px 0 0;
  float: left;
  box-sizing: border-box;
}
.global-footer .search-box .btn-search {
  background-color: #de2516;
  height: 58px;
  width: 58px;
  border: 0;
}
.global-footer .guide-nav-wrap {
  position: relative;
  margin: 0 10px;
  border-bottom: 1px solid #c0c0be;
  margin-bottom: 20px;
  padding-bottom: 20px;
}
.global-footer .guide-nav-wrap .guide-nav {
  margin-top: -20px;
  /*>:last-child{
                margin-bottom: 0;
            }*/
}
.global-footer .guide-nav-wrap .guide-nav .channel {
  background-color: #e6e7e2;
  border-radius: 0 4px 4px 0;
  margin-top: 20px;
}
.global-footer .guide-nav-wrap .guide-nav .channel .title {
  height: 50px;
  color: #32494d;
  text-transform: uppercase;
  padding: 25px 10px 0 50px;
  font-size: 2em;
}
.global-footer .guide-nav-wrap .guide-nav .channel .title .carrot {
  float: right;
}
.global-footer .guide-nav-wrap .guide-nav .channel .title.open {
  display: none;
}
.global-footer .guide-nav-wrap .guide-nav .channel .child {
  text-transform: lowercase;
  background-color: #e6e7e2;
  display: none;
  position: relative;
}
.global-footer .guide-nav-wrap .guide-nav .channel .child .trigger .reveal {
  display: block;
  font-size: 20px;
  padding: 0 5px;
  background-color: red;
  cursor: pointer;
  float: right;
  position: absolute;
  top: 20px;
  right: 10px;
  z-index: 1;
}
.global-footer .guide-nav-wrap .guide-nav .channel .child .trigger .close {
  display: none;
}
.global-footer .guide-nav-wrap .guide-nav .channel .child .content {
  padding-left: 50px;
  padding-top: 25px;
  width: 84%;
}
.global-footer .guide-nav-wrap .guide-nav .channel .child .content .subtitle {
  color: #32494d;
  font-size: 2em;
  text-transform: uppercase;
  border-bottom: 1px solid #c0c0be;
  padding-bottom: 5px;
  line-height: 1.5em;
  position: relative;
}
.global-footer .guide-nav-wrap .guide-nav .channel .child .content .subtitle:after {
  content: '';
  border: 1px solid #c0c0be;
  border-radius: 5px;
  width: 10px;
  height: 10px;
  position: absolute;
  right: 0;
  bottom: -7px;
}
.global-footer .guide-nav-wrap .guide-nav .channel .child .content .links {
  margin-top: 10px;
  margin-bottom: 10px;
}
.global-footer .guide-nav-wrap .guide-nav .channel .child .content .links li {
  font-size: 1.3em;
}
.global-footer .footer-link-nav .logo {
  width: 64px;
  margin: 0 10px 20px 10px;
  float: left;
}
.global-footer .footer-link-nav .footer-links {
  margin: 0;
  float: left;
}
.global-footer .footer-link-nav .footer-links a {
  color: #32494d;
  display: block;
  font-weight: bold;
  padding: 5px 5px 5px;
}
.global-footer .footer-link-nav .footer-links a:hover {
  background-color: #edebdd;
  color: #de2516;
}
.global-footer .footer-link-nav .disclaimer {
  color: #32494d;
}
.global-footer .footer-link-nav .social-media-list {
  list-style: none;
  margin: 0 0 0 -10px;
  overflow: hidden;
}
.global-footer .footer-link-nav .social-media-list li {
  float: left;
  margin: 0 0 15px 1.5em;
}
.global-footer .footer-link-nav .social-media-list .icon {
  display: block;
  height: 40px;
  padding: 0;
  background-image: url(/sites/all/themes/mcgrawhill/images/social-icons.png);
  background-repeat: no-repeat;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  width: 40px;
}
.global-footer .footer-link-nav .social-media-list .icon.facebook {
  background-position: -43px 0;
}
.global-footer .footer-link-nav .social-media-list .icon.facebook:hover {
  background-position: 0 0;
}
.global-footer .footer-link-nav .social-media-list .icon.twitter {
  background-position: -43px -45px;
}
.global-footer .footer-link-nav .social-media-list .icon.twitter:hover {
  background-position: 0 -45px;
}
.global-footer .footer-link-nav .social-media-list .icon.youtube {
  background-position: -43px -136px;
}
.global-footer .footer-link-nav .social-media-list .icon.youtube:hover {
  background-position: 0 -136px;
}
.global-footer .footer-link-nav .social-media-list .icon.linkedin {
  background-position: -43px 0;
}
/* @media all and (min-width: 740px) { */
  .global-footer .footer-drop-nav .dk_container {
    float: left;
    width: auto;
  }
  .global-footer .guide-nav-wrap .guide-nav {
    margin: -20px -20px 0;
  }
  .global-footer .guide-nav-wrap .guide-nav .channel {
    float: left;
    width: 45.694444%;
    margin-left: 20px;
  }
  .global-footer .guide-nav-wrap .guide-nav .channel .title.open {
    display: block;
  }
  .global-footer .guide-nav-wrap .guide-nav .channel .title .carrot {
    display: none;
  }
  .global-footer .guide-nav-wrap .guide-nav .channel .child {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
  }
  .global-footer .guide-nav-wrap .guide-nav .channel .child .trigger .reveal {
    display: none;
  }
  .global-footer .guide-nav-wrap .guide-nav .channel .child .trigger .close {
    border: 1px solid #de2516;
    padding: 0 5px;
    line-height: 1.5em;
    font-size: 1.5em;
    margin-top: 5px;
    margin-right: 5px;
    float: right;
    display: inline-block;
  }
  .global-footer .guide-nav-wrap .guide-nav .channel .child .content {
    margin-left: 150px;
    margin-top: 50px;
    width: 60%;
  }
  .global-footer .guide-nav-wrap .guide-nav .channel .child .content .links li {
    width: 50%;
    float: left;
  }
  .global-footer .footer-link-nav .disclaimer {
    padding-top: 67px;
  }
  .global-footer .footer-link-nav .social-media-list {
    margin: 0 0 20px -20px;
  }
/* } */
/* @media all and (min-width: 980px) { */
  .global-footer .guide-nav-wrap .guide-nav .channel {
    width: 30.531915%;
  }
  .global-footer .guide-nav-wrap .guide-nav .channel .child .content {
    width: 74%;
  }
  .global-footer .guide-nav-wrap .guide-nav .channel .child .content .subtitle {
    width: 38%;
    float: left;
    margin-right: 2%;
  }
  .global-footer .guide-nav-wrap .guide-nav .channel .child .content .links {
    width: 60%;
    margin-top: 20px;
    float: left;
  }
  .global-footer .footer-link-nav .disclaimer {
    padding-top: 83px;
  }
  .global-footer .footer-link-nav .social-media-list {
    margin-top: 56px;
  }
/* } */
